
.body{
  width: 100vw;
  height: 100vh;
}

#map {
  grid-area: "Carte";
  width: auto;
  height: 90vh;
}

.control-panel {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.legend-round {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}