
.body{
    width: 100vw;
    height: 100vh;
  }

.container {
    display: grid; 
    grid-template-columns: 1fr 0.2fr 1.8fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Carte Carte Controls"
    "Carte Carte Controls"
    "Carte Carte Controls"; 
}

.leaflet-tooltip-grid {
  color: red;
  font-size:14px;
  font-weight: 700;
  fillColor: none;
  fillOpacity: 0;
  background-color: none;
  border-color: none;
  background: none;
  border: none;
  box-shadow: none;
  margin: 0px;
  cursor: none;
  direction: 'center';
  interactive: false;
  fill: false;
}

.container-text {
  display: grid; 
  margin-right: 50px;
  margin-left: 50px;
  width: 900px;
}

.title{
  text-align: center;
}
  
  #map {
    grid-area: Carte; 
    width: auto;
    height: 90vh;
  }
  .leaflet-container {
    background: black;
    outline: 0;
  }

  .controls{
    grid-area: Controls; 
    width:auto;
    height:90vh;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
  .rect {
    height: 15px;
    width: 25px;
    border-radius: 0%;
    display: inline-block;
  }
  