
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Carte Carte Albums"
      "Carte Carte Albums"
      "Carte Carte Albums"; 
}

#asterixmap {
  grid-area: Carte; 
  width: auto;
  height: 650px;
}
.albums {
  grid-area: Albums; 
  width:auto;
  height:650px;
  overflow-y: scroll;
}

.couvertures {
  width:140px;
  height:175px
}

.center {
  text-align: center;
}

.smallinterligne{
  line-height : 1;
}

@media all and (orientation: portrait) {
  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Carte"
      "Albums"; 
  }

  #asterixmap {
    grid-area: Carte; 
    width: auto;
    height: 500px;
  }
  .albums {
    grid-area: Albums; 
    width:auto;
    height:400px;
    overflow-y: scroll;
  }
  
  .couvertures {
    width:70px;
    height:95px
  }
}