
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Carte Carte Controls"
      "Carte Carte Controls"
      "Carte Carte Controls"; 
}

#asterixmap {
  grid-area: Carte; 
  width: auto;
  height: 650px;
}
.controls{
  grid-area: Controls; 
  width:auto;
  height:650px;
  padding-left: 10px;
  padding-right: 10px;
}

.albums {
  grid-area: Albums; 
  width:auto;
  height:375px;
  overflow-y: scroll;
}

.couvertures {
  width:140px;
  height:175px
}

.center {
  text-align: center;
}

.smallinterligne{
  line-height : 1;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

@media all and (orientation: portrait) {
  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Carte"
      "Controls"; 
  }

  #asterixmap {
    grid-area: Carte; 
    width: auto;
    height: 500px;
  }
  .controls{
    grid-area: Controls; 
    width:auto;
    height:400px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .albums {
    grid-area: Albums; 
    width:auto;
    height:350px;
    overflow-y: scroll;
  }
  
  .couvertures {
    width:75px;
    height:110px
  }
}