html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

article {
    margin-right:5em;
    margin-left:5em;
}

#map {
    width: 100%;
    height: 650px;
}

.leaflet-tooltip-custom {
  padding: 6px;
  font-size: large;
  font-weight: 1000;
	background-color: transparent;
	border: transparent;
  box-shadow:none;
  -webkit-text-stroke: 0.5px #fff;
	}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .activetab class with JS), and when you move the mouse over it (hover) */
  .activetab, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .activetab:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 2 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


  /* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
  
/* Catalogue */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 20px;
}
.map-item {
  width: 24%;
  border: 1px solid #000;
  text-align: center;
  font-family: Arial, sans-serif;
}
.map-image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background-color: #eee;
  overflow: hidden;
}
.map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-details {
  padding: 5px;
}
#box{
  display:flex;
  grid-template-columns: [map-box map-description-box] 1fr 1fr;
}
#map-box{
  width: 50%;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 1em;
  padding-right: 1em;
}
#map-description-box{
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}
.map-title {
  font-weight: bold;
  padding:5px;
}
.map-author {
  color: gray;
}
.tags {
  margin-top: 5px;
}
.tag {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: small;
}
.tag-item {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 5px;
  color: #fff;
  font-size: small;
}
/* Tag colors */
.tag-type { background-color: #4CAF50; } /* Green */
.tag-emprise { background-color: #2196F3; } /* Blue */
.tag-siecle { background-color: #FF9800; } /* Orange */
.tag-georef { background-color: #dbc93d; } /* Yellow */

/* Filter Section */
.filter-section {
  padding: 10px;
  background-color: #f4f4f4;
  margin: 20px 0;
}
.filter-section .filter-tag, .filter-section .reset-filter {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 5px;
}
.reset-filter {
  background-color: #f08080; /* Distinct color for reset button */
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Tag columns */
.tag-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 30%;
}

div.map-title {
  color: black;
  border-bottom-style: none;
}

a.map-link {
  color: black;
  text-decoration: none;
}

div.map-author {
  color: gray;
  font-size: small;
  font-weight: bolder;
}

#mapviz {
  width: 100%;
  height: 600px;
}

/* Tabber */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*Drop down checkboxes*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filter-tag {
  margin-bottom: 1rem;
}

.filter-tag-title {
  font-weight: bold;
}

.filter-tag-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-tag-item {
  margin-right: 1rem;
}

.filter-tag-checkbox {
  margin-right: 0.5rem;
}

  
  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .filter-section {
      width: 100%;
    }
    article {
      margin:0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    margin: 0px;
    padding-right: 2em;
    padding-left: 2em;
  }
  .page-title{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .paragraph {
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: justify;
  }
  .illustration {
    width: 95%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  /* Catalogue page */
  .filter-section {
    width: 94%;
    background-color: #f4f4f4;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /* Item page */
  .retour {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .tag-item {
    display: inline-block;
    padding: 3px 3px;
    margin: 2px;
    border-radius: 5px;
    color: #fff;
    font-size: small;
  }
  .map-item {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 2px;
  }
  #map-item-tags{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #box{
    display:flex;
    flex-flow: row wrap;
  }
  #map-box{
    width: 100%;
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  #map-description-box{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  /*Guestbook*/
  #HCB_comment_box{
    margin-left: 0.5em;
    margin-right: 0.5em;}
  }

