
.body{
  width: 100vw;
  height: 100vh;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Carte Carte Filtres"
      "Carte Carte Filtres"
      "Carte Carte Filtres"; 
}

#map { 
    grid-area: Carte; 
    width: 100%;
    height: 600px;
}

.controls {
  grid-area: Filtres; 
  width:100%;
  height:600px;
  overflow-y: scroll;
  margin-left: 5px;
  margin-right: 5px;
}

.albums-ligne{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.album { position: relative; 
    width: 140px; 
    float: left; 
    margin-left: 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;}
    
.couv{
    width: 140px; 
  }

.checkbox { position: absolute; 
  width:20px;
  height:20px;
  top: 0px; 
  right: 0px; 
}

.button-margin{
  margin: 2px;
  margin-bottom: 4px;
}

/*Map content*/

.leaflet-container {
    background: #ddd;
    outline: 0;
}

#panel{
    color: white;
    text-align: center;
}

/********************** Tool tip ************************/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/************************* TABBER **********************/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}